Package: hydra-scheduler-dbgsym
Package-Type: ddeb
Source: hydra-scheduler
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Souradip Patra spectralphoenix.dev@gmail.com
Installed-Size: 127
Depends: hydra-scheduler (= 1.0.0-1)
Section: debug
Priority: optional
Description: debug symbols for hydra-scheduler
Build-Ids: e276eabd38ce302bd12a3fb1a23f6b9e6844ba7c
